body, ul {
    margin: 0;
    padding: 0;
    padding: 0;
    border: none;
    background-color: #1a1a1a;
}

html {
    margin: 0;
    padding: 0;
}

#document {
margin: 0;
padding: 0;
border: none;
}

#game-container {
    z-index: 0;
    overflow: hidden;
}

#all-projects {
    display: flex;
    flex-direction: column;
}

.invisible {
    display: none;
}

.project-option {
    font-family: 'Montserrat', sans-serif;
    background-color: #1A1A1A;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0;
    transform: translateX(-5%);
    backface-visibility: hidden;
    transition: opacity 0.5s, transform 0.5s;
}

.project-option.right {
    transform: translateX(5%);
}

.divider-decoration {
    width: 16px;
    height: 16px;
    padding-bottom: 3px;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
}

.project-option.active {
    opacity: 1;
    transform: translateX(0);
}

.project-option:hover {
    transform: scale(1.03);
    cursor: pointer; /* Change cursor style to pointer on hover */
}

#first-divider {
    z-index: 1;
}

.work-divider {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 120px;
    margin-bottom: 120px;
}

.work-divider .star {
    width: 18px;
    height: 18px;
}

.work-divider p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
    margin: 0;
}

.work-divider hr { 
    flex-grow: 1;
    height: 1px;
    background-color: #FFF;
    border: none;
}

.final-divider {
    height: 1px;
    background-color: #FFF;
    border: none;
    margin-top:60px;
    margin-bottom: 0px;
    opacity: 0;
}

.description-container {
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.right .description-container {
    margin-left: 0px;
    margin-right: 40px;
}

.project-title-container {
    display: inline;
    gap: 16px;
    font-size: 16px;
    align-items: left;
    text-align: left;
}

.project-title-container p {
    margin: 0px;
    white-space: nowrap;
    max-width: fit-content; 
    display: inline;
}

.project-description {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 32px;
}

button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 24px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    align-self: flex-start; 
    width: auto;
}

button:hover {
    background-color: white;
    color: #1A1A1A;
}

@media (max-width: 1200px) {
    .work-divider {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .project-option {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 1100px) {

    .project-option {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 1000px) {
    .work-divider {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .project-option {
        margin-left: 60px;
        margin-right: 60px;
    }

    .project-description {
        font-size: 24px;
        margin-top: 18px;
        margin-bottom: 24px;
    }

    .project-title-container {
        gap: 16px;
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    .project-option {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 725px) {

    .project-option {
        flex-direction: column;
        margin-left: 36px;
        margin-right: 36px;
    }

    .work-divider {
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .description-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .project-description {
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 18px;
    }

    .project-title-container {
        gap: 16px;
        font-size: 12px;
    }
}

@media (max-width: 500px) {

    .project-option {
        margin-left: 18px;
        margin-right: 18px;
    }

    .work-divider {
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 36px;
        margin-bottom: 36px;
    }

    .project-description {
        font-size: 24px;
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .project-title-container {
        gap: 12px;
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .project-description {
        font-size: 20px;
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .project-title-container {
        gap: 12px;
        font-size: 12px;
    }
}