.mlb-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
    transform: rotate(-22.5deg);
    margin-top: -440px;
    margin-left: 0px;
}

.mlb-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mlb-icon-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.mlb-screen { 
    background-color:gray;
	width:540px;
	height:303px;
}
.mlb-banner { 
    background-color:gray;
	width:540px;
	height:62px;
}
.mlb-cards { 
    display: grid;
    grid-template-columns: repeat(2, 188px);
    grid-template-rows: repeat(2, 266px);
    gap: 32px;
}
.mlb-card { 
    background-color:gray;
    width: 188px;
    height: 266px;
}

.mlb-icon { 
    background-color:gray;
	width:118px;
	height:118px;
}

.mlb-right-aligned {
    justify-content: flex-end;
}

.mlb-alignment-margin {
    margin-bottom: 800px;
}

.mlb-horizontal-aligned {
    align-items: center;
}
