.name {
    color: #1a1a1a;
    background-color: #e8fd53; 
    padding: 5px 10px; 
    display: inline-block; 
}

@media (max-width: 1000px) {
    #about-image-container {
        width: 100%;
        max-width: 600px;
        height: auto;
        background-color: black;
        border-radius: 4px;
        margin-top: 16px;
    }

    #about-image {
        max-width: 300px;
    }
}