.drift-row {
    transform: rotate(-22.5deg);
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.drift-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.drift-screen { 
    background-color:gray;
	height:471.57px;
}

.drift-alignment-margin {
    margin-top: 215px;
}

.drift-feed-card {
    height:200.72px;
    width:402.41px;
}

.drift-feed-card.bottom {
    height: 286.34px;
    width: 402.41px;
}
