.whats-cooking-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
    transform: rotate(-22.5deg);
    margin-top: -570px;
    margin-left: -100px;
}

.whats-cooking-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.whats-cooking-icon-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.whats-cooking-screen { 
    background-color:gray;
	width:540px;
	height:303px;
}

.whats-cooking-icon { 
	width:124px;
	height:124px;
    margin-top: -24px;
}

.whats-cooking-right-aligned {
    justify-content: flex-end;
}

.whats-cooking-alignment-margin {
    margin-top: 514px;
    
}

.whats-cooking-horizontal-aligned {
    align-items: center;
}
