body {
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    transform: rotate(-22.5deg);
}

.row {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.screen { 
    background-color:gray;
	width:230.25px;
	height:486.5px;
}

.alignment-margin {
    margin-top: 60px;
}

.alignment-margin-two {
    margin-top: 260px;
}

#experience {
    width: 482.37px;
    height: 285.84px;
}

#loop {
    width: 453.51px;
    height: 246.49px;
    transform: rotate(-9.23deg);
}